h4 {
    color: red;
}

body {
    border: 2px solid black;
    padding: 5px;
    margin: 20px;
}

a:link, a:visited {
    color: white;
    background-color: #f44336;
    text-decoration: none;
    padding: 15px 25px;
    text-align: center;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
    text-decoration: dotted;
}